/*Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Header e Navbar*/
.header {
  position:relative;
  width:100%;
  max-width: 1470px;
  height: 580px;
  margin: 0 auto;
  overflow: hidden;
}

.header-img-container {
  position: absolute;
  top: -66px;
  left: -100px;
  width: 1640px;
  height: 1157px;
  z-index: -1;
}

  .header-img-container img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
  }

  .navbar {
  width: 100%;
  z-index: 2;
  height: 70px;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  }

  .navbar-container {
  width: 1278px;
  max-width: 100%;;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .navbar-logo img{
  height: 40px;
  width: auto;
  margin-left: 30px;
  }

  .navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }

  .navbar-links a {
  color: white;
  font-family: 'Josefin Slab', serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 25px;
  line-height: 100%;
  margin-right: 60px;
  }
  .navbar-links a:last-child {
  margin-right: 0;
  }
  
  /*container com blocos e botões*/
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(217, 217, 217, 1);
    width: 466px;
    max-height: 642px;
    border-radius: 35px;
    z-index: 100;
    }

    .bloco {
    background-color: white;
    text-align: center;
    max-width: 345px;
    max-height: 76px;
    padding: 20px;
    margin-top: 30px;
    justify-content: space-between;
    border-radius: 5px;
    z-index: 1000;
    }

    .botao-seta {
    display: flex;
    justify-items: flex-start;
    color:black;
    max-height: 76px;
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    padding: 12px 90px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    }

    .bloco2 {
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(104, 105, 49, 1);
    font-family: 'Jura', sans-serif;
    border: none;
    z-index: 1000;
    }

    .botao-enviar {
    color: white;
    font-family: 'Jura', sans-serif;
    border: none;
    padding: 12px 90px;
    padding-top: 30px;
    border-radius: 30px;
    font-weight: 700;
    background-color: rgba(104, 105, 49, 1);
    }












  
