/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* tipo de letra */

/* hero */
.header {
  position: fixed; /*fixa no topo*/
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* para ficar acima de outros elementos */
  padding: 0px 40px;
  background: rgba(255, 255, 255, 0); /* fundo transparente */
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0); /* fundo transparente */
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-links a {
  color: black;
  font-family: 'Jura', sans-serif;
  text-decoration: none;
  font-size: 16px;
  padding-right: 40px /* espaçamento entre os links */;
}

/* remover o padding do ultimo link */
.nav-links a:last-child {
  padding-right: 0;
}

/* aumentar o padding do primeiro link */
.nav-links a:first-child {
  padding-right: 50px;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 5;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero-title {
    color: #FFFFFF;
    font-family: 'Josefin Slab', serif;
    font-size: 64px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-weight: bold;
  }

  /* Secção hero */
  .hero-section {
    width: 100%;
    height: 569px;
    background-color:rgba(180, 155, 44, 0.25); 
  }
  
  .hero-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
  }
  
  .hero-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  .texto-viva-livre {
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.6;
    width: 345px;
    text-align: center;
    color: #000000;
  }

  .texto-viva-livre .destaque {
    font-weight: 700;
  }

  .linha-central {
    width:1px;
    height: 345px;
    background-color: black;
    margin-top: auto;
    margin-bottom: auto;
  }

  .hero-block-direito {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bloco-direito-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texto-trabalhos-remotos {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.18;
    letter-spacing: 0;
    color: #000000;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
  }

  .caixas-links {
    display: flex;
    flex-direction: row;
    gap: 180px;
    justify-content: center;
    padding-top: 30px;
  }

  .caixa {
    display: flex;
    width: 132px;
    height: 96px;
    background: transparent;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .caixa ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .caixa li {
    margin-bottom: 6px;
  }
  .caixa a {
    color: black;
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    font-size: 14px;
  }

    /* Secção acomodação */
  .Secao-acomodacao{
    display: flex;
    width: 100vw;
    height: 515px;
    background-color: black;
    padding: 0;
    gap: 0;
  }

  .imagem-acomodacao {
    flex: 0 0 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
    
    .imagem-acomodacao img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.acomodação-bloco {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  gap: 20px;
  color: #ffffff;
}

.acomodacao-texto {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.18;
  letter-spacing: 0;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.btn-descobrir {
    font-family: 'Jura', sans-serif;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px 60px;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}

/*secção Locais*/
.locais-container {
    display: flex;
    width: 100%;
    max-width: 1440px
    height: 515px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0); /* fundo transparente */

.Secao-locais {
    display: flex;
    width: 100vw;
    height: 515px;
    padding: 0;
    gap: 0;
}

.Secao-locais-bloco {
    flex: 0 0 55%;
    display: flex;
    flex-direction: column;
    justify-content: center
    align-content: center;
    padding-left: 60px;
    background-color:rgba(180, 155, 44, 0.25); 
    color: #000000;
}
.Secao-locais-texto {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0;
    color: #000000;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}
.btn-explorar {
    font-family: 'Jura', sans-serif;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 10px 60px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}
.Secao-locais-bloco-imagem {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color:rgba(180, 155, 44, 0.25); 
  padding-right: 60px;
}
.imagem-locais {
  width: 100%;
  height: 100%
}

  .imagem-locais img {
  width: 100%;
  height: 100%;
  object-fit: cover
}